= simple_form_for @aramis_entity, html: { class: 'form-horizontal' } do |f|
  = f.input :name
  = f.association :project_code, label: "Code Projet"
  = f.input :description
  .form-actions
    = f.submit "Mettre à jour", class: 'btn btn-primary'
    = link_to "Annuler", @aramis_entity, class: 'btn'
