.page-header
  %h1 
    Propositions de l'entité
    = @entity.name
    = Time.now.next_week.strftime("S%W %Y")

%table.table.table-striped
  %caption
    %h4 Les consultants proposés
  %thead
    %tr
      %th Consultant
      %th Date
      %th Nombre de jours
  %tbody
    - @propositions.each do |proposal|
      %tr
        %td= proposal.consultant.name
        %td= proposal.date
        %td= proposal.nbre_jour

%table.table.table-striped
  %caption
    %h4 Les consultants à proposer
  %tbody
    - @consultants_a_proposer.each do |consultant|
      = simple_form_for Proposal.new, html: { class: 'form-horizontal' } do |f|
        %tr
          %td= consultant.name
          %td= f.association :entity,     as: :hidden,  input_html: {value: consultant.entity_id}
          %td= f.association :consultant, as: :hidden,  input_html: {value: consultant.id}
          %td= f.input       :etat,       as: :hidden,  input_html: {value: "créée"}
          %td= f.input       :date,       label: false, input_html: {class: 'datepicker', value: Time.now.to_date.next_week}, placeholder: "Date d'arrivée", as: :string
          %td= f.input       :nbre_jour,  label: false, placeholder: "Nb jours"
          %td= f.submit "Proposer", class: 'btn'

= link_to "Créer un Collaborateur", "#collaborateur", class: 'btn btn-info', "data-toggle" => "modal"

- dialog_body = capture do
  = simple_form_for @entity.collaborators.new, :html => { class: 'form-horizontal' } do |f|
    = f.input :nom
    = f.input :prenom, label: "Prénom"
    = f.input :id_karma
    = f.input :profil
    = f.input :role, label: "Rôle", collection: ["consultant", "manager", "resp_domaine"], prompt: "Sélectionner le rôle du collaborateur"
    = f.input :email, placeholder: "prénom.nom@devoteam.com"
    = f.input :eligibilite, collection: ["éligible", "non-éligible"]
    = f.input :etat, collection: ["non-validé", "validé"], prompt: "Sélectionner la validité du collaborateur"
    = f.input :statut
    = f.input :niv_diplome, collection: [">= Bac + 3", "Bac + 2", "Autres"]
    = f.input :nat_diplome, collection: ["Autre", "Scientifique"]
    = f.association :entity, as: :hidden
    = f.association :manager, collection: @entity.collaborators.managers, prompt: "Sélectionner le manager du consultant"
    = f.input :commentaire
    .form-actions
      = f.submit "Créer Collaborateur", class: 'btn btn-primary'
= modal_dialog id: "collaborateur",
header: { title: "Nouveau Collaborateur" },
body: dialog_body,
footer: content_tag(:button, 'Annuler', class: 'btn', "data-dismiss" => "modal")

:javascript
  $(".datepicker").datepicker({
    dateFormat: "dd-mm-yy",
    showWeek: true,
    firstDay: 1,
    showAnim: "slideDown"
  }); ;
