- model_class = Entity
.page-header
  %h1 Les Entités
%table.table.table-striped
  %thead
    %tr
      %th Nom
      %th Manager
      %th Actions
  %tbody
    - @entities.each do |entity|
      %tr
        %td= entity.name
        %td= entity.manager.try(:name)
        %td
          - if can? :read, entity
            = link_to "Gérer", entity, :class => 'btn btn-mini'
          - if can? :destroy, entity
            = link_to "Supprimer", entity_path(entity), :method => :delete, :data => { :confirm => "Êtes-vous sûr ?" }, :class => 'btn btn-mini btn-danger'

- if can? :create, Entity
  = link_to "Nouvelle Entité", new_entity_path, :class => 'btn btn-info'
