- model_class = Entity
.page-header
  %h1 Entité

%p
  %strong Nom :
  = @entity.name
%p
  %strong Manager :
  = @entity.manager.try(:name)
%p
  %strong Description
  = @entity.description

.form-actions
  = link_to "Retour", entities_path, :class => 'btn'
  = link_to "Modifier", edit_entity_path(@entity), :class => 'btn'
  = link_to "Supprimer", entity_path(@entity), :method => "delete", :data => { :confirm => "Êtes-vous sûr ?" }, :class => 'btn btn-danger'
  =# link_to "Nouveau Collaborateur","#", class: "btn btn-primary", id: "nouv_collaborateur"
  =# link_to "Proposer des consultants","#", class: "btn btn-primary", id: "nouv_propositions"

= simple_form_for @collaborator, :html => { :class => 'form-horizontal well' } do |f|
  = f.input :nom
  = f.input :prenom, label: "Prénom"
  = f.input :id_karma
  = f.input :profil
  = f.input :role, label: "Rôle", collection: ["consultant", "manager", "resp_domaine"], prompt: "Sélectionner le rôle du collaborateur"
  = f.input :email, placeholder: "prénom.nom@devoteam.com"
  = f.input :eligibilite, collection: ["éligible", "non-éligible"]
  = f.input :etat, collection: ["non-validé", "validé"], prompt: "Sélectionner la validité du collaborateur"
  = f.input :statut
  = f.input :niv_diplome, collection: [">= Bac + 3", "Bac + 2", "Autres"]
  = f.input :nat_diplome, collection: ["Autre", "Scientifique"]
  = f.association :entity, as: :hidden
  = f.association :manager, collection: @entity.collaborators.managers, prompt: "Sélectionner le manager du consultant"
  = f.input :commentaire
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to "Annuler", "#", :class => 'btn', id: "annuler_collaborateur"

%h2 Propositions encours
%table.table.table-striped
  %thead
    %tr
      %th Consultant
      %th Date d'arrivée
      %th Nombre de jours
      %th Etat
      %th Actions
  %tbody
    - @propositions.each do |proposal|
      %tr
        %td= proposal.consultant.name
        %td= proposal.date
        %td= proposal.nbre_jour
        %td= proposal.etat
        %td
          = link_to "Consulter", proposal, :class => 'btn btn-mini'
          = link_to "Modifier", edit_proposal_path(proposal), :class => 'btn btn-mini'
          = link_to "Supprimer", proposal_path(proposal), :method => :delete, :data => { :confirm => "Êtes-vous sûr ?" }, :class => 'btn btn-mini btn-danger'

%h2 Collaborateurs proposés à DRI
%table.table.table-striped
  %thead
    %tr
      %th Prénom
      %th Nom
      %th Rôle
      %th Eligibilité
      %th Entité Aramis
      %th Actions
  %tbody
    - @collaborateurs.each do |collaborator|
      %tr.collaborateur
        %td= collaborator.prenom
        %td= collaborator.nom
        %td= collaborator.role
        %td= collaborator.eligibilite
        %td= collaborator.aramis_entity.try(:name)
        %td
          = link_to "Gérer", collaborator, :class => 'btn btn-mini'
          =# link_to "Supprimer", collaborator_path(collaborator), :method => :delete, :data => { :confirm => "Êtes-vous sûr ?" }, :class => 'btn btn-mini btn-danger'

:javascript
  $(".datepicker").datepicker({
    dateFormat: "dd-mm-yy",
    showWeek: true,
    firstDay: 1,
    showAnim: "slideDown"
  }); ;
  $(document).on('nested:fieldAdded', function(event){
    $(".datepicker").datepicker({
      dateFormat: "dd-mm-yy",
      showWeek: true,
      firstDay: 1,
      showAnim: "slideDown"
    });
  }); ;
  $(document).ready(function() {
    $('#new_list').hide();
    $('#nouv_propositions').click(function() {
      $('#new_collaborator').slideUp("slow");
      $('#new_list').slideDown("slow");
    });
    $('#annuler_propositions').click(function() {
      $('#new_list').slideUp("slow");
    });

    $('#new_collaborator').hide();
    $('#nouv_collaborateur').click(function() {
      $('#new_list').slideUp("slow");
      $('#new_collaborator').slideDown("slow");
    });
    $('#annuler_collaborateur').click(function() {
      $('#new_collaborator').slideUp("slow");
    });
    
    $(".collaborateur:last").hide();
  });
