- model_class = Entity
.page-header
  %h1 Entité

%p
  %strong Nom :
  %br
  = @entity.name
%p
  %strong Manager :
  %br
  = @entity.manager.try(:name)
%p
  %strong Description
  %br
  = @entity.description

.form-actions
  = link_to "Retour aux Entités", entities_path, :class => 'btn'
  = link_to "Modifier", edit_entity_path(@entity), :class => 'btn'
  = link_to "Supprimer", entity_path(@entity), :method => "delete", :data => { :confirm => "Êtes-vous sûr ?" }, :class => 'btn btn-danger'
