- model_class = Collaborator
.page-header
  %h1 Les Collaborateurs
%table.table.table-striped
  %thead
    %tr
      %th Prénom
      %th Nom
      %th Rôle
      %th Etat
      %th Actions
  %tbody
    - @collaborators.each do |collaborator|
      %tr
        %td= collaborator.prenom
        %td= collaborator.nom
        %td= collaborator.role
        %td= collaborator.etat
        %td
          = link_to "Consulter", collaborator, :class => 'btn btn-mini'
          = link_to "Modifier", edit_collaborator_path(collaborator), :class => 'btn btn-mini'
          = link_to "Supprimer", collaborator_path(collaborator), :method => :delete, :data => { :confirm => "Êtes-vous sûr ?" }, :class => 'btn btn-mini btn-danger'

= link_to "Nouveau Collaborateur", new_collaborator_path, :class => 'btn btn-primary'
