- model_class = Collaborator
.page-header
  %h1 Collaborateur

%p
  %strong Prénom :
  %br
  = @collaborator.prenom
%p
  %strong Nom :
  %br
  = @collaborator.nom
%p
  %strong ID Karma :
  %br
  = @collaborator.id_karma
%p
  %strong Rôle :
  %br
  = @collaborator.role
%p
  %strong Email :
  %br
  = @collaborator.email
%p
  %strong Etat :
  %br
  = @collaborator.etat
%p
  %strong Statut :
  %br
  = @collaborator.statut
%p
  %strong Niveau de diplôme :
  %br
  = @collaborator.niv_diplome
%p
  %strong Nature du diplôme :
  %br
  = @collaborator.nat_diplome
%p
  %strong Entité :
  %br
  = @collaborator.entity.name
%p
  %strong Manager
  %br
  = @collaborator.manager.try(:name)
%p
  %strong Commentaire :
  %br
  = @collaborator.commentaire

.form-actions
  = link_to "Retour aux Collaborateurs", collaborators_path, :class => 'btn'
  = link_to "Modifier", edit_collaborator_path(@collaborator), :class => 'btn'
  = link_to "Supprimer", collaborator_path(@collaborator), :method => "delete", :data => { :confirm => "Êtes-vous sûr ?" }, :class => 'btn btn-danger'
