- model_class = Collaborator
.page-header
  %h1 Collaborateur

%p
  %strong Prénom :
  = @collaborator.prenom
%p
  %strong Nom :
  = @collaborator.nom
%p
  %strong ID Karma :
  = @collaborator.id_karma
%p
  %strong Profil :
  = @collaborator.profil
%p
  %strong Rôle :
  = @collaborator.role
%p
  %strong Email :
  = @collaborator.email
%p
  %strong Eligibilité :
  = @collaborator.eligibilite
%p
  %strong Etat :
  = @collaborator.etat
-# %p
-#   %strong Statut :
-#   = @collaborator.statut
%p
  %strong Niveau de diplôme :
  = @collaborator.niv_diplome
%p
  %strong Nature du diplôme :
  = @collaborator.nat_diplome
%p
  %strong Entité :
  = @collaborator.entity.name
%p
  %strong Entité Aramis :
  = @collaborator.aramis_entity.name
%p
  %strong Manager :
  = @collaborator.entity.manager.try(:name)
%p
  %strong Commentaire :
  = @collaborator.commentaire

.form-actions
  = link_to "Retour", @collaborator.entity, class: 'btn'
  = link_to "Modifier", "#collaborateur", class: 'btn', data: {toggle: "modal"}
  =# link_to "Supprimer", collaborator_path(@collaborator), :method => "delete", :data => { :confirm => "Êtes-vous sûr ?" }, :class => 'btn btn-danger'

%h2 Historique des propositions
%table.table.table-striped
  %thead
    %tr
      %th Consultant
      %th Date d'arrivée
      %th Nombre de jours
      %th Etat
      %th Actions
  %tbody
    - @propositions.each do |proposal|
      %tr
        %td= proposal.consultant.name
        %td= proposal.date
        %td= proposal.nbre_jour
        %td= proposal.etat
        %td
          = link_to "Consulter", proposal, :class => 'btn btn-mini'
          = link_to "Modifier", edit_proposal_path(proposal), :class => 'btn btn-mini'
          = link_to "Supprimer", proposal_path(proposal), :method => :delete, :data => { :confirm => "Êtes-vous sûr ?" }, :class => 'btn btn-mini btn-danger'

- dialog_body = capture do
  = simple_form_for @collaborator, url: "/gestion/collaborators/#{@collaborator.id}", :html => { class: 'form-horizontal' } do |f|
    = f.input :nom
    = f.input :prenom, label: "Prénom"
    = f.input :id_karma
    = f.input :profil
    = f.input :role, label: "Rôle", collection: ["consultant", "manager", "manager_dri", "resp_domaine"]
    = f.input :email, placeholder: "prénom.nom@devoteam.com"
    = f.input :eligibilite, collection: ["éligible", "éligible-conditionnelle", "non-éligible"]
    = f.input :etat, collection: ["actif", "inactif"]
    =# f.input :statut
    = f.input :niv_diplome, collection: [">= Bac + 3", "Bac + 2", "Autres"]
    = f.input :nat_diplome, collection: ["Autre", "Scientifique"]
    = f.association :entity, label: "Entité"
    = f.association :aramis_entity, label: "Entité Aramis"
    =# f.association :manager, collection: proposal.consultant.entity.collaborators.managers, prompt: "Sélectionner le manager du consultant"
    = f.input :commentaire
    .form-actions
      = f.submit "Mettre à jour", class: 'btn btn-primary'
= modal_dialog id: "collaborateur",
header: { show_close: true, dismiss: 'modal', title: "Modification de "+@collaborator.name },
body: dialog_body,
footer: content_tag(:button, 'Annuler', class: 'btn', "data-dismiss" => "modal")
