- model_class = Domain
.page-header
  %h1 Domaine

%p
  %strong Nom :
  = @domain.name
%p
  %strong Responsable :
  = @domain.responsable.try(:name)
%p
  %strong Description :
  = @domain.description

.form-actions
  = link_to "Retour", domains_path, class: 'btn'
  - if can? :update, @domain
    = link_to "Modifier", edit_domain_path(@domain), :class => 'btn'
  - if can? :destroy, @domain
    = link_to "Supprimer", domain_path(@domain), :method => "delete", :data => { :confirm => "Êtes-vous sûr ?" }, :class => 'btn btn-danger'
  - if can? :create, Project
    = link_to "Nouveau Projet", "#", class: "btn btn-info", id: "nouv_projet"

= simple_form_for @project, html: { class: 'form-horizontal well' } do |f|
  = f.input :name, label: "Nom"
  = f.association :domain, as: :hidden
  = f.association :chef, collection: @consultants_presents, prompt: "Sélectionner un collaborateur"
  = f.association :maitrise_ouvrage, label: "Maître d'ouvrage", collection: Collaborator.actifs, prompt: "Sélectionner un collaborateur"
  = f.input       :code
  = f.input       :description
  = f.input       :etat, as: :hidden, input_html: {value: "activé"}
  .form-actions
    = f.submit "Créer Projet", class: 'btn btn-primary'
    = link_to "Annuler", "#", class: 'btn', id: "annuler_projet"

%h2 Liste des Projets
%table.table.table-striped
  %thead
    %tr
      %th Nom
      %th Chef
      %th Maître d'ouvrage
      %th Etat
      %th Actions
  %tbody
    - @domain.projects.each do |project|
      %tr.projet
        %td= project.name
        %td= project.chef.try(:name)
        %td= project.maitrise_ouvrage.try(:name)
        %td= project.etat
        %td
          - if can? :read, project
            = link_to "Gérer", project, :class => 'btn btn-mini'

:javascript
  $(document).ready(function() {
    $('#new_project').hide();
    $('#nouv_projet').click(function() {
      $('#new_project').slideDown("slow");
    });
    $('#annuler_projet').click(function() {
      $('#new_project').slideUp("slow");
    });
    
    $(".projet:last").hide();
  });
