- model_class = Project
.page-header
  %h1 Projet

%p
  %strong Nom :
  = @project.name
%p
  %strong Domaine :
  = @project.domain.name
%p
  %strong Chef :
  = @project.chef.try(:name)
%p
  %strong Maîtrise d'ouvrage :
  = @project.maitrise_ouvrage.try(:name)
%p
  %strong Code :
  = @project.code
%p
  %strong Etat :
  = @project.etat
%p
  %strong Description :
  = @project.description

.form-actions
  = link_to "Retour", @project.domain, class: 'btn'
  - if can? :update, @project
    = link_to "Modifier", edit_project_path(@project), class: 'btn'
