- model_class = Project
.page-header
  %h1 Projet

%p
  %strong Nom :
  = @project.name
%p
  %strong Domaine :
  = @project.domain.name
%p
  %strong Chef :
  = @project.chef.name
%p
  %strong Maîtrise d'ouvrage :
  = @project.maitrise_ouvrage.name
%p
  %strong Code :
  = @project.code
%p
  %strong Description
  = @project.description

.form-actions
  = link_to "Retour aux Projets", projects_path, :class => 'btn'
  = link_to "Modifier", edit_project_path(@project), :class => 'btn'
  = link_to "Supprimer", project_path(@project), :method => "delete", :data => { :confirm => "Êtes-vous sûr ?" }, :class => 'btn btn-danger'
