= simple_form_for @proposal, :html => { :class => 'form-horizontal' } do |f|
  =# f.association :list, as: :hidden
  = f.association :entity
  = f.association :consultant, collection: @proposal.consultant.entity.collaborators.consultants.actifs, prompt: "Sélectionner le consultant"
  = f.input :date, label: "Date d'arrivée", as: :string, input_html: {class: "datepicker"}
  = f.input :nbre_jour, label: "Nombre de jours"
  = f.input :etat, collection: ["créée", "disponible", "reservée", "validée", "arrivée"]
  = f.association :project
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to "Annuler", proposals_path, :class => 'btn'
:javascript
  $(".datepicker").datepicker({
    dateFormat: "dd-mm-yy",
    showWeek: true,
    firstDay: 1,
    showAnim: "slideDown"
  }); ;
