.page-header
  %h1 
    Confirmation des affectations
    = Time.now.next_week.strftime("S%W %Y")
.table-responsive
  %table.table.table-striped.table-condensed
    %caption
      %h4 Les consultans validés
    %thead
      %tr
        %th Consultant
        %th Projet
        %th Actions
    %tbody
      - @propositions_validees.each do |proposal|
        %tr
          %td= link_to proposal.consultant.name, "#modal"+proposal.consultant_id.to_s, "data-toggle" => 'modal'
          %td= proposal.project.name
          %td= link_to "Arriver", arriver_proposal_path(proposal), :class => 'btn btn-mini'
          
.table-responsive
  %table.table.table-striped.table-condensed
    %caption
      %h4 Les consultants arrivés
    %thead
      %tr
        %th Consultant
        %th Nombre de jours
        %th Projet
    %tbody
      - @propositions_arrivees.each do |proposal|
        %tr
          %td= link_to proposal.consultant.name, "#modal"+proposal.consultant_id.to_s, "data-toggle" => 'modal'
          %td= proposal.nbre_jour
          %td= proposal.project.name

- @propositions_validees.each do |proposal|
  - dialog_body = capture do
    %p
      %strong Niveau de diplôme :
      = proposal.consultant.niv_diplome
    %p
      %strong Nature du diplôme :
      = proposal.consultant.nat_diplome
    %p
      %strong Entité :
      = proposal.consultant.entity.name
  = modal_dialog id: "modal"+proposal.consultant_id.to_s,
  header: { title: proposal.consultant.name },
  body: dialog_body,
  footer: content_tag(:button, 'Fermer', class: 'btn', "data-dismiss" => "modal")

- @propositions_arrivees.each do |proposal|
  - dialog_body = capture do
    %p
      %strong Niveau de diplôme :
      = proposal.consultant.niv_diplome
    %p
      %strong Nature du diplôme :
      = proposal.consultant.nat_diplome
    %p
      %strong Entité :
      = proposal.consultant.entity.name
  = modal_dialog id: "modal"+proposal.consultant_id.to_s,
  header: { title: proposal.consultant.name },
  body: dialog_body,
  footer: content_tag(:button, 'Fermer', class: 'btn', "data-dismiss" => "modal")
