.page-header.tete
  %h1 
    Gestion des affectations
    = Time.now.next_week.strftime("S%W %Y")
.table-responsive.minimiser
  %table.table.table-striped.table-condensed.well
    %caption
      %h4 Les consultans sortants
    %thead
      %tr
        %th Consultant
        %th Dernier projet
    %tbody
      - @propositions_sortantes.each do |proposal|
        %tr
          %td= link_to proposal.consultant.name, "#modal"+proposal.consultant_id.to_s, "data-toggle" => 'modal'
          %td= proposal.project.name

.table-responsive.minimiser
  %table.table.table-striped.table-condensed.well
    %caption
      %h4 Les consultants disponibles
    %thead
      %tr
        %th Consultant
        %th Entité
        %th Profil
        %th Nb jours
        %th Projet
        %th Actions
    %tbody
      - @propositions_disponibles.each do |proposal|
        = simple_form_for proposal, url: reserver_proposal_path(proposal), html: { class: 'form-horizontal' } do |f|
          %tr
            = f.input :etat, as: :hidden, input_html: { value: "reservée" }
            %td= link_to proposal.consultant.name, "#modal"+proposal.consultant_id.to_s, data: {toggle: "modal"}
            %td= proposal.consultant.entity.name
            %td= proposal.consultant.profil
            %td= proposal.nbre_jour
            %td= f.association :project, label: false, collection: @projets
            %td
              =# link_to "Reserver", "#proposition"+proposal.id.to_s, class: 'btn btn-mini', data: {toggle: "modal"}
              = f.submit "Réserver", class: "btn btn-mini action_form"

.table-responsive.minimiser
  %table.table.table-striped.table-condensed.well
    %caption
      %h4 Les consultants non-éligibles
    %thead
      %tr
        %th Consultant
        %th Entité
        %th Profil
        %th Nb jours
        %th Projet
        %th Actions
    %tbody
      - @propositions_non_eligibles.each do |proposal|
        = simple_form_for proposal, url: reserver_proposal_path(proposal), html: { class: 'form-horizontal' } do |f|
          %tr
            = f.input :etat, as: :hidden, input_html: { value: "reservée" }
            %td= link_to proposal.consultant.name, "#modal"+proposal.consultant_id.to_s, data: {toggle: "modal"}
            %td= proposal.consultant.entity.name
            %td= proposal.consultant.profil
            %td= proposal.nbre_jour
            %td= f.association :project, label: false, collection: @projets
            %td= f.submit "Réserver", class: "btn btn-mini action_form"

.table-responsive.minimiser
  %table.table.table-striped.table-condensed.well
    %caption
      %h4 Les consultants resérvés
    %thead
      %tr
        %th Consultant
        %th Profil
        %th Projet
        %th Actions
    %tbody
      - @propositions_reservees.each do |proposal|
        %tr
          %td= link_to proposal.consultant.name, "#modal"+proposal.consultant_id.to_s, "data-toggle" => 'modal'
          %td= proposal.consultant.profil
          %td= proposal.project.name
          %td
            = link_to "Libérer", liberer_proposal_path(proposal), :class => 'btn btn-mini fonction'
            = link_to "Valider", valider_proposal_path(proposal), :class => 'btn btn-mini fonction'

- @propositions_sortantes.each do |proposal|
  - dialog_body = capture do
    %p
      %strong Profil :
      = proposal.consultant.profil
    %p
      %strong Eligibilité :
      = proposal.consultant.eligibilite
    %p
      %strong Niveau de diplôme :
      = proposal.consultant.niv_diplome
    %p
      %strong Nature du diplôme :
      = proposal.consultant.nat_diplome
    %p
      %strong Entité :
      = proposal.consultant.entity.name
  = modal_dialog id: "modal"+proposal.consultant_id.to_s,
  header: { title: proposal.consultant.name },
  body: dialog_body,
  footer: content_tag(:button, 'Fermer', class: 'btn', "data-dismiss" => "modal")

- @propositions_disponibles.each do |proposal|
  - dialog_body = capture do
    %p
      %strong Profil :
      = proposal.consultant.profil
    %p
      %strong Eligibilité :
      = proposal.consultant.eligibilite
    %p
      %strong Niveau de diplôme :
      = proposal.consultant.niv_diplome
    %p
      %strong Nature du diplôme :
      = proposal.consultant.nat_diplome
    %p
      %strong Entité :
      = proposal.consultant.entity.name
  = modal_dialog id: "modal"+proposal.consultant_id.to_s,
  header: { title: proposal.consultant.name },
  body: dialog_body,
  footer: content_tag(:button, 'Fermer', class: 'btn', "data-dismiss" => "modal")

- @propositions_non_eligibles.each do |proposal|
  - dialog_body = capture do
    %p
      %strong Profil :
      = proposal.consultant.profil
    %p
      %strong Eligibilité :
      = proposal.consultant.eligibilite
    %p
      %strong Niveau de diplôme :
      = proposal.consultant.niv_diplome
    %p
      %strong Nature du diplôme :
      = proposal.consultant.nat_diplome
    %p
      %strong Entité :
      = proposal.consultant.entity.name
  = modal_dialog id: "modal"+proposal.consultant_id.to_s,
  header: { title: proposal.consultant.name },
  body: dialog_body,
  footer: content_tag(:button, 'Fermer', class: 'btn', "data-dismiss" => "modal")

- @propositions_reservees.each do |proposal|
  - dialog_body = capture do
    %p
      %strong Profil :
      = proposal.consultant.profil
    %p
      %strong Eligibilité :
      = proposal.consultant.eligibilite
    %p
      %strong Niveau de diplôme :
      = proposal.consultant.niv_diplome
    %p
      %strong Nature du diplôme :
      = proposal.consultant.nat_diplome
    %p
      %strong Entité :
      = proposal.consultant.entity.name
  = modal_dialog id: "modal"+proposal.consultant_id.to_s,
  header: { title: proposal.consultant.name },
  body: dialog_body,
  footer: content_tag(:button, 'Fermer', class: 'btn', "data-dismiss" => "modal")

- @propositions_disponibles.each do |proposal|
  - dialog_body = capture do
    = simple_form_for proposal, :html => { class: 'form-horizontal' } do |f|
      = f.input :etat, as: :hidden, input_html: { value: "reservée" }
      = f.association :project, label: "Projet"
      .form-actions
        = f.submit "Créer Réservation", class: 'btn btn-primary'
  = modal_dialog id: "proposition"+proposal.id.to_s,
  header: { title: "Réservation de : "+ proposal.consultant.name },
  body: dialog_body,
  footer: content_tag(:button, 'Fermer', class: 'btn', "data-dismiss" => "modal")
:javascript
  $(document).ready(function(){
    $('.sortants').jScrollPane();
    $('.disponilbes').jScrollPane();
    $('.reserves').jScrollPane();
  }); ;

