- model_class = Proposal
.page-header
  %h1 
    Propositions
    = Time.now.next_week.strftime("S%W %Y")

%table.table.table-striped
  %thead
    %tr
      %th Consultant
      %th Date
      %th Nb jours
      %th Etat
      %th Actions
  %tbody
    - @propositions.each do |proposal|
      %tr
        %td= proposal.consultant.name
        %td= proposal.date
        %td= proposal.nbre_jour
        %td= proposal.etat
        %td
          = link_to "Supprimer", proposal_path(proposal), :method => :delete, :data => { :confirm => "Êtes-vous sûr ?" }, :class => 'btn btn-mini btn-danger'

.btn-group
  %a{class: "btn btn-info dropdown-toggle", data: {toggle: "dropdown"}, href: "#"}
    Créer Une Proposition
    %span.caret
  %ul.dropdown-menu
    - @entites.each do |entite|
      %li= link_to entite.name, creer_propositions_entity_path(entite)
= link_to "Publier Propositions", publier_proposals_path, class: "btn btn-info"
