- model_class = Proposal
.page-header
  %h1 Les Propositions
%table.table.table-striped
  %thead
    %tr
      %th Consultant
      %th Date
      %th Nombre de jours
      %th Etat
      %th Actions
  %tbody
    - @proposals.each do |proposal|
      %tr
        %td= proposal.consultant.name
        %td= proposal.date
        %td= proposal.nbre_jour
        %td= proposal.etat
        %td
          = link_to "Consulter", proposal, :class => 'btn btn-mini'
          = link_to "Modifier", edit_proposal_path(proposal), :class => 'btn btn-mini'
          = link_to "Supprimer", proposal_path(proposal), :method => :delete, :data => { :confirm => "Êtes-vous sûr ?" }, :class => 'btn btn-mini btn-danger'

= link_to "Nouvelle Proposition", new_proposal_path, :class => 'btn btn-primary'
